@import '../../../bootstrap/less/mixins.less';
@import 'pictos.css';

// Bootstrap Cleanup

body {
	background-image: none;
	background: #f3f3f0;
	font-family: "proxima-nova", "Gill Sans", "Futura", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #303030;
}

[data-icon]:before {
	content: attr(data-icon);
	font-family: 'Pictos', sans-serif;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.logo {
	background: url(../img/logo.png) 0 0 no-repeat;
	height: 120px;
	width: 120px;
}
.logo img {
	display: none;
}

.mast {
	background: #8EBDCC;
	padding: 40px 0;
	margin-top: -50px;
}

.mast .row {
	margin: 0 auto;
}

/* NAVBAR OVERRIDES */




.masthead {
	margin-bottom: 20px;
}


.logo {
	float: left;
}

.main.nav {
	float: right;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 45px;
	padding-right: 17px;
	font-weight: 300;
	letter-spacing: 1px;
}

.main.nav li {
	margin-right: 10px;
}

.main.nav li a {
	color: #ffffff;
}

.main.nav li a:hover {
	background: none;
	color: #ddd;
}

.main.nav li.active a {
	background: none;
	color: #CF1E18;
}

#main-content .description, p, blockquote {
	font: normal normal normal 16px/1.6 "skolar", Georgia, Times, serif;
	color: #303030;
}

#main h1 {
	font-weight: bold;
	font-size: 64px;
	line-height: 1.1;
	letter-spacing: 1px;
	font-weight: 900;
}

#main h3 {
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#main h2 {
	font-weight: bold;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
}


footer {
	background: #D6D6D6;
	position: absolute;
	margin: 40px 0;
	padding: 20px 0 60px 0;
	left: 0;
	width: 100%
}

footer a {
	color: #333;
}

footer a.btn.btn-primary.give {
	background-image: none;
	background: none;
	color: #CF1E18;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
	text-transform: uppercase;
	text-shadow: none;
	margin-left: -10px;
}

.finish {
	background: #f3f3f0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0 0 0 0;
	padding: 15px 0 5px 0;
	font-size: 18px;

	.row { text-indent: 30px; }

	p, a { color: #aaa }

}

/* EVENTS COMPONENTS*/

.component-events {
	
	.entry {
		border: 10px solid #ddd;
		margin: 20px 0;
		background: #fff;

		&.even { background: #fff; }

		.header {
			text-transform: none;
			font-size: 26px;
			margin-bottom: 0;
			a {
				text-transform: none;
				text-decoration: none;
				color: #303030;

				&:hover { color: #555; }
			}
		}

		.label {
			line-height: 12px;
			float: right;
			padding: 3px 6px;
			.border-radius(0);
			text-shadow: none;
		}

		.help-block {
			clear: both;
			margin-bottom: 10px;
			font-size: 16px;
			.date {
				margin-right: 20px;
			}
		}
	}

}

.component-locations {
	.map {
		padding-top: 18px;
		iframe {
			margin-top: 0;
			border: 10px solid #ddd;
		}
	}
}

