/*-----------------------------------------------------------------------------
	Globals - Miscellaneous
-----------------------------------------------------------------------------*/

body {
	background: #fff;
	color: #222;
}
h2 {
	margin: 0;
	padding: 0 0 0.5em;
	border-bottom: 1px solid #ddc;
}
h3 {
	text-shadow: -1px 2px 2px #ddd;
	font-weight: bold;
}
pre {
	color: #474742;
	white-space: normal;
	font: inherit;
}
pre code {
	border: 1px dashed #a1a19a;
	padding: 5px 7px;
	overflow: auto;
}
i, var {
	color: #aa9;
	text-shadow: none;
	font-style: normal;
}
legend {
	margin-bottom: -3em;
	padding: 0;
	color: #665;
	font-weight: bold;
}
label {
	display: block;
	position: relative;
}
label > i {
	position: absolute;
	right: 0;
	top: 0;
}

/*-----------------------------------------------------------------------------
	Globals - Tables
-----------------------------------------------------------------------------*/

table {
	margin: 0;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;
}
th {
	padding-right: 19px;
	color: #665;
	text-align: left;
	font-weight: normal;
	line-height: 2;
}
td {
	border: 1px solid #e6e6e5;
	border-width: 1px 0;
	padding: 0.67em 19px 0.67em 0;
	background-color: #f5f5f4;
}
th:first-child,
td:first-child {
	padding-left: 19px;
}
tr:nth-child(even) td {
	background-color: transparent;
}

table input {
	float: right;
	margin-right: 19px;
}
th a,
th a:hover,
th a:hover:after {
	color: #665;
	text-decoration: none;
	border: none;
}
th a:after {
	color: #ccb;
}
th a:active,
th a.active,
th a.active:after {
	color: #554;
}
th a:after,
th a.active:hover:after,
th a.active[href$=asc]:after {
	margin-left: 3px;
	content: "\2193"
}
th a.active:after,
th a[href$=asc]:after,
th a.active[href$=asc]:hover:after {
	content: "\2191";
}
table.busy td {
	border-top: 1px solid #e6e6e5;
	border-bottom: 1px solid #e6e6e5;
	background-color: #fff;
}

table.busy tr:nth-child(odd) td {
	border-top: 1px solid #e6e6e5;
	border-bottom: 1px solid #e6e6e5;
	background-color: #f5f5f4;
}
table.busy a {
	color: #5072bf;
}

/*--- Selectable ---*/

table.selectable {
	margin-top: 8px;
}

table.selectable input {
	display: none;
}
tr.selected td {
	border-top: 1px solid #617dc5;
	border-bottom: 1px solid #617dc5;
	background-color: #5273c0;
}
tr:nth-child(odd).selected td {
	background-color: #5677c3;
}
tr.selected td,
tr.selected a,
tr.selected .inactive {
	color: #fff;
}

/*--- Orderable ---*/

tr.ordering {
	cursor: move;
}
tr.ordering td,
tr:nth-child(odd).ordering td {
	border-color: #998;
	background-color: #887;
}
tr.ordering td,
tr.ordering a,
tr.ordering .inactive {
	color: #fff;
}
tr.selecting td, tr:nth-child(odd).selecting td {
	border-top: 1px solid #617dc5;
	border-bottom: 1px solid #617dc5;
	background-color: #5273c0;
}
tr.selecting td,
tr.selecting a,
tr.selecting .inactive {
	color: #fff;
}

/*-----------------------------------------------------------------------------
	Globals - Classes & UI components
-----------------------------------------------------------------------------*/

/*--- Common ---*/

.code {
	font: 134%/1.3 monospace;
}
.busy,
.busy * {
	cursor: wait;
}
.inactive,
.inactive * {
	color: #B4B4B4;
}
.irrelevant {
	display: none;
}
.selected, .selected a, .selected .inactive {
	color: #fff;
}
.selected a:hover {
	color: #f2f2f2;
}
.help {
	color: #888;
}
p.label {
	margin: 0 0 2px;
}
span.frame {
	display: block;
	margin-bottom: 1.5em;
	border: 1px solid #e4e4de;
	padding: 12px;
	background-color: #f5f5f3;
	text-align: center;
}
span.frame code {
	color: #919183;
}

/*--- Tags/suggestion list ---*/

ul.tags {
	margin: -0.75em 0 1.5em 0;
	padding: 0;
	color: #887;
	list-style: none;
}
ul.tags li {
	display: inline;
	padding: 0 6px 0 0;
	border-top: none;
	word-spacing: -1px;
	cursor: pointer;
	font-size: 90.91%;
}
ul.tags li:hover {
	color: #554;
}
ul.tags li.more {
	color: #5072bf;
	text-decoration: underline;
}
ul.tags .more:hover {
	color: #222;
}

/*--- Group ---*/

.group {
	position: relative;
	right: -0.75em;
	margin: 0 0 0 -1.5em;
	padding: 0 0.75em 0 3.65em;
}
.group:after {
	content: "";
	display: block;
	clear: left;
	height: 0;
}
.group > * {
	float: left;
	margin-left: 2.95em;
	width: 50%;
}
.group > *:first-child {
	margin-left: -2.95em;
}
.group > input[type=hidden]:first-child + * {
	margin-left: -2.95em;
}
.group label > i,
.secondary label > i {
	max-width: 45%;
	height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: help;
	float: right;
}
.group label > i:hover,
.secondary label > i:hover {
	white-space:normal;
	height:auto;
	background: rgba(255, 255, 255, 0.8);
}

/*--- Triple ---*/

.triple {
	padding: 0 0 0 72px;
}
.triple > * {
	width: 33%;
}
.triple > *:first-child {
	margin-left: -64px;
}

/*--- Compact ---*/

div.compact:after {
	content: "";
	display: block;
	clear: left;
	height: 0;
}
div.compact label {
	float: left;
	width: 50%;
	min-width: 250px;
	margin-right: 1.5em;
}
div.compact label:nth-of-type(even) {
	max-width: 45%;
}
div.compact label i {
	max-width: 100%;
	height: auto;
	white-space: normal;
	overflow: none;
	text-overflow: auto;
	float: none;
	color: #887;
	display: block;
	position: static;
	padding-left: 1.75em;
}

/*--- Settings ---*/

fieldset.settings {
	position: relative;
	padding: 1em 0 1em 275px;
	margin: 0 0 1em;
	border-top: 1px solid #ddc;
}
fieldset.settings > legend {
	float: left;
	margin-bottom: -3em;
	padding: 0;
	color: #665;
	text-indent: -275px;
}
fieldset.settings > label {
	clear: left;
}
fieldset.settings select {
	width: 100%;
}
fieldset.settings p.help {
	margin: -0.5em 0 1.5em;
	color: #888;
}
fieldset.settings li .label {
	margin: 1em 0 1.25em;
}
fieldset.settings:first-child {
	border-top: none;
}
fieldset.settings > legend + .help {
	position: absolute;
	margin: 1.75em 0 0 -275px;
	width: 22em;
}
fieldset.settings > legend + .help p {
	margin: 0 0 1.5em;
}
fieldset.settings > *:first-child {
	margin-top: 0;
}
fieldset.settings fieldset {
	margin-top: 0.5em;
	padding-bottom: 0;
	border-top: 1px solid #ddc;
}
fieldset.settings fieldset legend {
	display: inline;
	margin: 0 0 0 -0.5em;
	padding: 0 0.75em 0 0.5em;
	font-weight: normal;
	line-height: 1.5;
	text-indent: 0;
	color: #665;
}

/*--- Settings: Pickable ---*/

.active .settings.picker {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.active .settings.pickable {
	border-top: 0;
	padding-top: 0;
}
.active .settings.pickable legend {
	display: none;
}

/*--- Settings: Duplicator ---*/

.settings .duplicator {
	margin-bottom: 1.5em;
}
.settings .duplicator fieldset {
	border-top: 1px solid #b8b8b8;
}
.settings .duplicator legend {
	color: #888;
}
.settings .duplicator .group label > i:hover {
	white-space:normal;
	height:auto;
	background: rgba(221, 221, 204, 0.8);
}

/*--- Buttons ---*/
input[type=submit],
a.button,
button.button {
	display: inline-block;
	min-height: 20px;
	margin-left: 10px;
	padding: 0 10px;
	background-color: #efefed; color: rgba(85, 85, 85, 0.95);
	background-image: -webkit-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: -moz-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: -ms-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: -o-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: linear-gradient(to bottom, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom-color: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	line-height: 1.85;
	text-decoration: none;
	font-size: 11px;
}
a.button.create,
button.button.create {
	background-color: #83b340;
	background-image: -webkit-linear-gradient(top, #92c44d 0%, #92c44d 30%, #78a737 100%);
	background-image:    -moz-linear-gradient(top, #92c44d 0%, #92c44d 30%, #78a737 100%);
	background-image:     -ms-linear-gradient(top, #92c44d 0%, #92c44d 30%, #78a737 100%);
	background-image:      -o-linear-gradient(top, #92c44d 0%, #92c44d 30%, #78a737 100%);
	background-image:   linear-gradient(to bottom, #92c44d 0%, #92c44d) 30%, #78a737 100%);
	border-color: rgba(50, 70, 23, 0.3);
	border-bottom-color: rgba(50, 70, 23, 0.5);
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 1px 1px 1px rgba(50, 70, 23, 0.25);
}
a.button.delete,
button.button.delete {
	background: #dd4422;
	border-color: #bb2211;
	color: rgba(255, 255, 255, 0.99);
}
a.button:hover,
a.button.active,
button.button:hover,
button.button.active {
	border-color: rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 0 0 1px 2px rgba(77, 120, 180, 0.1);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 0 0 1px 2px rgba(77, 120, 180, 0.1);
	cursor: pointer;
}
a.button.delete:hover,
button.button.delete:hover {
	background-color: #d43;
}

/*-----------------------------------------------------------------------------
	Globals - System Messages
-----------------------------------------------------------------------------*/

#notice {
	position: relative;
	margin: 0;
	padding: 4px 90px 3px 18px;
	border-bottom: 1px solid #575757 !important;
	color: #9b9b9b !important;
	background: #383838 !important;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#notice a {
	color: #BDC3C3 !important;
	border-color: #9b9b9b;
	margin-left: 5px;
}

/* Success messages */

#notice.success {
	background-color: #bfdc96 !important;
	border-color: #90c349 !important;
	color: #6d7841 !important;
	-webkit-animation: success 0.5s ease-out 10s 1 forwards;
	-moz-animation: success 0.5s ease-out 10s 1 forwards;
	-ms-animation: success 0.5s ease-out 10s 1 forwards;
	-o-animation: success 0.5s ease-out 10s 1 forwards;
	animation: success 0.5s ease-out 10s 1 forwards;
}

#notice.success a {
	color: #4e5b39 !important;
	border-color: #a1bf7e !important;
	-webkit-animation: successlink 0.5s ease-out 10s 1 forwards;
	-moz-animation: successlink 0.5s ease-out 10s 1 forwards;
	-ms-animation: successlink 0.5s ease-out 10s 1 forwards;
	-o-animation: successlink 0.5s ease-out 10s 1 forwards;
	animation: successlink 0.5s ease-out 10s 1 forwards;
}

#notice.success a:hover {
	color: #333c25 !important;
	border-color: #4e5b39 !important;
}

/* Errors messages */

#notice.error {
	background-color: #fff9a2 !important;
	border-color: #e7a973 !important;
	color: #bd7053 !important;
}

#notice.error a {
	color: #b02d3c !important;
	border-bottom: 1px solid #eed08a !important;
}

#notice.error a:hover {
	color: #87232e !important;
	border-bottom: 1px solid #b02d3c !important;
}
#notice.silence {
	background: #e4e4e0 !important;
	border-top-color: #979792 !important;
	border-bottom-color: #777 !important;
	color: #555 !important;
}
#notice a:hover,
#notice a:active,
#notice a:focus {
	color: #e4ece4 !important;
	border-color: #9b9b9b !important;
}
#notice button {
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------
	Header
-----------------------------------------------------------------------------*/

body, html {
	height: 100%;
}
#wrapper {
	position: relative;
	min-height: 100%;
}
#header {
	margin: 0 0 1.8em;
	background: #353530;
	color: #fff;
}
#header h1 {
	background: #282828;
	padding: 24px 18px;
	text-shadow: -1px 2px 3px #111;
	line-height: 1;
	z-index: 10;
	position: relative;
}
#header h1:before {
	color: #000;
	text-shadow: 0 1px 0 #404040;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-transform: none;
	font-weight: bold;
	content: "a ChurchDeploy install";
	font-size: 16px;
	position: relative;
	top: -2px;
	float: right;
}
#header h1 a, #session a {
	border: none;
	text-decoration: none;
	color: #E6E6E6;
	color: rgba(255, 255, 255, 0.85)
}

#header h1 a:hover, #header h1 a:focus,
#session a:hover, #session a:focus {
	color: rgba(255, 255, 255, 0.99);
}
#nav {
	display: block;
	margin: 0;
	padding: 0 8px 0;
	min-height: 31px;
	list-style: none;
	font-size: 12px;
	background: #d7d7d2 url(images/nav.png) 0 0 repeat;
	background: url(images/nav.png) 0 0 repeat, -webkit-linear-gradient(top, #efefed 0, #efefed 33%, #d7d7d2 67%, #d7d7d2 100%);
	background: url(images/nav.png) 0 0 repeat, -moz-linear-gradient(top, #efefed 0, #efefed 33%, #d7d7d2 67%);
	background: url(images/nav.png) 0 0 repeat, -ms-linear-gradient(top, #efefed 0, #efefed 33%, #d7d7d2 67%);
	background: url(images/nav.png) 0 0 repeat, -o-linear-gradient(top, #efefed 0, #efefed 33%, #d7d7d2 67%);
	background: url(images/nav.png) 0 0 repeat, linear-gradient(to bottom, #efefed 0%, #efefed 33%, #d7d7d2 67%);
	z-index: 3;
	float: left;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
}
#nav:after {
	content: "";
	display: block;
	clear: left;
	height: 0;
}
#nav > ul > li {
	display: block;
	color: #555;
	float: left;
	height: 31px;
	line-height: 31px;
	padding: 0 10px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	z-index: 3;
	cursor: default;
	white-space: nowrap;
}
#nav > li {
	display: block;
	color: #555;
	float: left;
	height: 31px;
	line-height: 31px;
	padding: 0 10px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	z-index: 3;
	cursor: pointer;
	white-space: nowrap;
}
#nav > li.active {
	color: #fff;
	background-color: #4d78b4;
	background-image: -webkit-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:    -moz-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:     -ms-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:      -o-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:   linear-gradient(to bottom, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	height: 31px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	z-index: 2;
}
#nav > ul > li.active {
	color: #fff;
	background-color: #4d78b4;
	background-image: -webkit-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:    -moz-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:     -ms-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:      -o-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:   linear-gradient(to bottom, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	height: 31px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	z-index: 2;
}

#nav > li:hover, #nav > li.active:hover {
	color: #555;
	background: #fff url(images/nav.png) 0 0 repeat;
	height: 31px;
	text-shadow: none;
	z-index: 10000;
}

#nav > li:hover:after {
	content: "";
	width: 100%;
	max-width: 118px;
	height: 3px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: -1px;
	padding: 0 1px;
}
#nav ul {
	margin: 0;
	padding: 0;
	float: left;
}
#nav > ul > li {
	display: block;
	color: #555;
	float: left;
	height: 31px;
	line-height: 31px;
	padding: 0 10px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	z-index: 3;
	cursor: default;
	white-space: nowrap;
}
#nav li:hover ul,
#nav li.current ul {
	left: 5px;
}
#nav a {
	display: block;
	padding: 0 0.77em;
	color: #444;
	text-decoration: none;
}
#nav a:hover,
#nav a:focus {
	background-color: #7e7e70;
	color: #fff;
}

#nav li ul {
	background: #fff;
	margin: 0;
	padding: 0;
	display: none;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.03), 0 7px 15px -5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.03), 0 7px 15px -5px rgba(0, 0, 0, 0.15);
	list-style: none;
	min-width: 120px;
	position: absolute;
	top: 31px;
	left: -2px !important;
	text-shadow: none;
	border: 1px solid rgba(187, 187, 187, 0.5);
	border-top: none;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
#nav li:hover ul {
	display: block;
}

#nav ul a {
	color: #555;
	display: block;
	font-weight: normal;
	padding: 0 9px;
	border: 1px solid transparent;
	cursor: pointer;
}

#nav ul a:hover {
	color: #fff;
	background: #888;
	border: 1px solid #fff;
	text-shadow: 1px 1px 0 #807d79;
}

#nav ul ul li:last-child a {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#contents form {
	clear: both;
	position: relative;
	top: -1px;
	background: #fff;
	padding: 0 0 5em 19px;
	border-top: 1px solid rgba(191, 191, 183, 0.65);
	-webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
}
#contents h2 {
	clear: both;
	margin: 0;
	padding: 25px 18px 0;
	position: relative;
	background: #fff;
	color: #000;
	background-color: #f4f4f4;
	min-height: 38px;
	-webkit-box-shadow: inset 0 1px 4px #ccc;
}
#contents h2 span {
	float: left;
}
#contents h2:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}
#contents h2 .button {
	position: relative;
	top: -5px;
	float: right;
	margin-left: 10px;
}

/*-----------------------------------------------------------------------------
	Footer
-----------------------------------------------------------------------------*/

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 23.5px 19px;
	background: #F4F4F4;
	text-align: right;
	color: #222;
	border-top: 1px solid rgba(191, 191, 183, 0.65);
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
}
#footer:after {
	content: "";
	display: block;
	clear: left;
	height: 0;
}
#version,
#usr,
#usr li {
	margin: 0;
	padding: 0
}
#version {
	color: #A5A5A0;
	float: left;
}
#usr li {
	display: inline;
	padding-left: 12px;
}
#usr a {
	color: #888;
	font-size: 11px;
	border-bottom: 1px solid #ddd;
}
#usr a:hover {
	color: #3F69A5;
	border-bottom-color: rgba(0, 0, 0, 0.3);
}

/*-----------------------------------------------------------------------------
	Index page
-----------------------------------------------------------------------------*/

.index h2 {
	border: none;
}
.index form {
	margin: 0 0 0 -19px;
	padding: 0;
}
.index .actions {
	text-align: right;
	padding: 1.75em 1.75em 1em 0;
	height: 38px;
}
.index .actions select {
	width: auto;
	display: -moz-inline-stack; /* Firefox 2 */
	display: inline-block;
	margin: 0;
}
.index .actions input {
	margin: 0 0 0 5px;
/*	padding: 3.5px 6px 4px;*/
}
.index .actions + ul.page {
	margin-top: -58px;
}
ul.page {
	margin: 0;
	padding: 10px 50px 12px 19px;
	height: 36px;
	color: #887;
}
ul.page li {
	display: inline;
	margin-right: 1.5em;
}
ul.page li[title] {
	color: #222;
}
ul.page a {
	margin: 0 -0.5em;
	padding: 0.2em;
	text-decoration: none;
}

/*-----------------------------------------------------------------------------
	Single page
-----------------------------------------------------------------------------*/

.single #contents {
	padding-bottom: 9em;
}
.single form {
	margin: 0;
}
.primary {
	float: left;
	width: 60%;
}
.secondary {
	float: right;
	width: 35%;
}
.primary,
.secondary {
	padding: 0 0 2em;
}
.primary label,
.secondary label,
.secondary .label {
	margin-top: 1.5em;
}
.primary .group label,
.secondary .group label {
	margin-top: 0;
	margin-bottom: 0;
}
.primary .help,
.secondary .help {
	margin-top: 1.5em;
}
.primary label > * + span.frame,
.secondary label > * + span.frame {
	margin-top: 1.25em;
}
.primary label > i + span.frame,
.secondary label > i + span.frame,
.primary label > span.frame:first-child,
.secondary label > span.frame:first-child {
	margin-top: 0;
}
.file input {
	margin: -3px 0;
	font: inherit;
}
.file span {
	overflow: hidden;
	text-align: left;
}
.file a {
	float: left;
	max-width: 50%;
	overflow: hidden;
	text-overflow :ellipsis;
}
.file em {
	float: right;
	color: #998;
	text-decoration: underline;
	font-style: normal;
	cursor: pointer;
}
.file em:hover {
	color: #d43;
}
.single .actions {
	clear: both;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1.75em 19px 0 0;
}
.single .actions input {
	float: right;
	margin-left: 1em;
}
.single .actions button {
	float: left;
}

/*-----------------------------------------------------------------------------
	Specific pages
-----------------------------------------------------------------------------*/

#blueprints-components form {
	margin: 0;
}
#blueprints-components .triple {
	padding-top: 5px;
}
#components {
	padding-bottom: 5px;
	background-color: #fff;
}
#components h3 {
	font-size: 13px;
	margin-top: 0.5em;
	margin-bottom: 0.75em;
	text-shadow: none;
}
#components h3:after {
	content: "";
	display: block;
	clear: left;
	height: 0;
}
#components h3 span {
	float: left;
}
#components h3 .button {
	float: right;
}
#components ul {
	margin: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 0.75em;
	list-style: none;
}
#components li {
	margin-bottom: 0.75em;
	border-bottom: none;
}
#components .button {
	margin-top: -0.25em;
	font-weight: normal;
}
#utilities {
	margin: 0 0 1.5em 0;
	border: 1px solid #bba;
	max-height: 510px;
	overflow: auto;
	list-style: none;
}
#utilities li {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.63em 1.25em 0.67em;
	cursor: pointer;
}
#utilities li:first-child {
	border-top: none;
}
#utilities .odd {
	background-color: #f5f5f4;
}
#utilities > :nth-child(odd) {
	background-color: #f5f5f4;
}
#utilities .selected {
	border-color: #617dc5;
	background-color: #5273c0;
}
#utilities .selected.odd {
	background-color: #5677c3;
}
#utilities .selected:nth-child(odd) {
	background-color: #5677c3;
}

/* New Form Stuff */

input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
button:hover,
button:active,
button:focus,
.button:hover,
.button:active,
.button:focus {
	color: #3c3c3c;
	border-color: rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 0 0 1px 2px rgba(77, 120, 180, 0.1);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 0 0 1px 2px rgba(77, 120, 180, 0.1);
	cursor: pointer;
}

input[type=submit].selected,
button.selected,
.button.selected {
	background-image: -webkit-linear-gradient(bottom, #EFEFED 0%, #EFEFED 30%, #E3E3DF 100%);
	background-image:    -moz-linear-gradient(bottom, #EFEFED 0%, #EFEFED 30%, #E3E3DF 100%);
	background-image:     -ms-linear-gradient(bottom, #EFEFED 0%, #EFEFED 30%, #E3E3DF 100%);
	background-image:      -o-linear-gradient(bottom, #EFEFED 0%, #EFEFED 30%, #E3E3DF 100%);
	background-image:         linear-gradient(bottom, #EFEFED 0%, #EFEFED 30%, #E3E3DF 100%);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	color: rgba(0, 0, 0, 0.65);
	border-color: rgba(0, 0, 0, 0.3);
	text-shadow: -1px -1px 1px #fff;
}

/*--------------------------------------------------------------------------
	Settings
--------------------------------------------------------------------------*/

fieldset.settings {
	position: relative;
	padding: 10px 0 10px 275px;
	margin: 0 18px 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
fieldset.settings > legend {
	position: absolute;
	text-indent: -275px;
	line-height: 1.5;
}
fieldset.settings select {
	width: 100%;
}
fieldset.settings p.help {
	margin: -0.5em 0 1.5em;
}
fieldset.settings input + p.help,
fieldset.settings select + p.help {
	margin-top: 1em;
}
fieldset.settings li .label {
	margin: 1em 0 1.25em;
}
fieldset.settings:first-of-type {
	margin-top: 5px;
	border-top: none;
}
fieldset.settings > legend + .help {
	position: absolute;
	margin: 1.75em 0 0 -275px;
	width: 22em;
}
fieldset.settings > legend + .help p {
	margin: 0 0 1.5em;
}
fieldset.settings > *:first-child {
	margin-top: 0;
}
fieldset.settings fieldset {
	margin-top: 0.5em;
	padding-bottom: 0;
	border-top: 1px solid #ddc;
}
fieldset.settings fieldset legend {
	display: inline;
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: 1.5;
	text-indent: 0;
	color: #665;
}

@media screen and (max-width: 700px) {

	fieldset.settings {
		padding-left: 0;
	}
	fieldset.settings:first-of-type {
		margin: 15px 18px 10px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	fieldset.settings > legend {
		position: relative;
		text-indent: 0;
		padding: 0 10px 0 0;
	}
	fieldset.settings > legend + .help {
		position: relative;
		margin: 0 0 15px;
		width: auto;
	}

}

/* Collapser */

.collapser, .destructor {
	border: none;
}

/* Selectable */

table.selectable input {
	display: none;
}

table.selectable td {
	cursor: pointer;
}

tr.selected td {
	background-color: #668abe;
	background-image: -webkit-linear-gradient(top, #668abe, #5c83ba);
	background-image:    -moz-linear-gradient(top, #668abe, #5c83ba);
	background-image:     -ms-linear-gradient(top, #668abe, #5c83ba);
	background-image:      -o-linear-gradient(top, #668abe, #5c83ba);
	background-image:   linear-gradient(to bottom, #668abe, #5c83ba);
	border-bottom: 1px solid #7492bc;
	border-top: 1px solid #4D78B4;
}

tr.selected td,
tr.selected a,
tr.selecting td,
tr.selecting a {
	color: #fff;
}

tr.selected td a:hover {
	color: white;
	border-bottom-color: rgba(255, 255, 255, 0.5);
}

tr.selected td a:focus {
	color: white;
	border-bottom-color: white;
}

tr.selected .inactive {
	color: rgba(255, 255, 255, 0.6);
}

/* Recommendation */

.recommendation p {
	margin: 10px 19px 10px 19px;
}
.recommendation p, .recommendation ul li {
	margin: 10px 19px 10px 19px;
	color: #B4B4B4;
	font-size: 12px;
	line-height: 1.3;
}