form {
	width: 280px;
	margin: 100px auto;
	overflow: visible;
	border: 1px solid #B8B8B8;
	background-color: #F5F5F3;
	text-align: left;
	-webkit-box-shadow: 0 1px 2px #E5E5E5;
	box-shadow: 0 1px 2px #E5E5E5;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1 {
	background: #282828;
	color: white;
	padding: 18px 11px;
	margin: -1px -1px 15px;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	line-height: 1.5;
}
fieldset,
.actions {
	padding-left: 2em;
	padding-right: 2em;
}
fieldset {
	padding-bottom: 0.5em;
}
.actions {
	overflow: hidden;
	padding-bottom: 1em;
}
.actions button {
	display: inline-block;
	min-height: 20px;
	margin-left: 10px;
	padding: 0 10px;
	background-color: #efefed; color: rgba(85, 85, 85, 0.95);
	background-image: -webkit-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: -moz-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: -ms-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: -o-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: linear-gradient(to bottom, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom-color: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	line-height: 1.85;
	text-decoration: none;
	font-size: 11px;
	float: right;
}
legend {
	display: none;
}
