/*-----------------------------------------------------------------------------
	Duplicator plugin
-----------------------------------------------------------------------------*/

.duplicator {
	margin: 0;
	padding: 0;
	background: whiteSmoke;
	float: left;
	width: 100%;
	-webkit-box-shadow: 0 1px 2px #E5E5E5;
	box-shadow: 0 1px 2px #E5E5E5;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	border: 1px solid #b8b8b8;
}
.duplicator i {
	color: #888 !important;
}
.invalid .duplicator {
	border-color: #aa2211;
}
.duplicator > .instance {
	clear: left;
	background: #whiteSmoke;
	border-bottom: 1px solid #b8b8b8;
}
.duplicator > .instance > .header {
	background: whiteSmoke;
	border-bottom: 1px solid #b8b8b8;
	color: #555;
	margin: 0;
	padding: 0.5em 1.75em;
	position: relative;
}
.duplicator > .instance > .header > span > i {
	margin: 0 0 0 0.5em;
	font-weight: normal;
}
.duplicator > .instance > .header .destructor {
	font-weight: normal;
	color: #888;
	margin: 0 1.75em;
	padding: 0.5em 0;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
}
.duplicator > .instance > .header .destructor:hover {
	color: #888;
}
.duplicator > .instance > .header .destructor.disabled {
	color: #888 !important;
	cursor: default;
	opacity: 0.4;
}
.duplicator > .instance > .content {
	padding: 1em 1.75em 0 1.75em;
	position: relative;
}
.duplicator > .controls {
	background: #e9e9e9;
	clear: left;
	cursor: default;
	padding: 0 1.75em;
/*	position: relative;*/
	text-align: right;
/*	z-index: 3;*/
}
.duplicator > .controls:after {
	content: "";
	display: block;
	clear: left;
	height: 0;
}
.duplicator > .controls.top {
	overflow: hidden;
	border-bottom: 1px solid #b8b8b8;
}
.duplicator > .controls.hidden {
	display: none;
}
.duplicator > .controls > * {
	vertical-align: middle;
	display: -moz-inline-stack; /* Firefox 2 */
	display: inline-block;
	margin: 0 0 0 0.75em;
}
.duplicator > .controls > select {
	min-width: 15em;
	width: auto;
}
.duplicator > .controls > .constructor {
	color: #333;
	cursor: pointer;
	padding: 0.5em 0;
	text-decoration: none;
	border: none;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
}
.duplicator > .controls > .constructor:hover {
	color: #777;
}
.duplicator > .controls > .constructor.disabled {
	color: #888;
	cursor: default;
	opacity: 0.6;
}

.duplicator label.disabled {
	color: #888;
}

.duplicator ul.tags {
	color: #888;
}

/*-----------------------------------------------------------------------------
	Duplicator - Orderable
-----------------------------------------------------------------------------*/

.duplicator.orderable > .instance > .header {
	cursor: move;
}
.duplicator.orderable > .instance > .header span {
	cursor: pointer;
}
.duplicator.ordering > .instance {
	opacity: 0.8;
}
.duplicator > .instance.ordering {
	border-top: 1px solid #b8b8b8;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	margin-top: -1px;
	opacity: 1;
	z-index: 2;
}
.duplicator > .instance.ordering,
.duplicator > .instance.ordering * {
	cursor: move;
}
.duplicator > .instance.collapsed {
	border-bottom: none;
}
.duplicator > .instance.collapsed > .content {
	display: none;
}

/*-----------------------------------------------------------------------------
	Duplicator - Collapsible
-----------------------------------------------------------------------------*/

.duplicator.collapsible > .controls > .collapser {
	cursor: pointer;
	float: left;
	margin: 0;
	padding: 0.5em 0;
	color: #333;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	text-transform: capitalize;
}
.duplicator.collapsible > .controls > .collapser:before {
	position: relative;
	left: -5px;
	content: "⇌";
}
.duplicator.collapsible > .controls > .collapser.compact:before {
	content: "⇋";
}
.duplicator.collapsible > .controls > .collapser:hover {
	color: #777;
}
.duplicator.collapsible > .controls > .collapser.disabled {
	color: #ededec;
	cursor: default;
	opacity: 0.6;
}
