// Announce
// ----------------------------------------------------------

.announce {

  .row {
    margin: 0;
  }
  // button styles

  .col-lg-6 {
    padding: 10em 0;
  }

  .btn-large {
    .btn-bordered(@color-border: @color-white);
    margin: 0 auto;
    padding: 15px 0;
    width: 75%;

    h3 {
      font-family: @font-family-condensed;
      font-size: 2em;
      font-weight: normal;
      margin-bottom: 0;
    }

    p {
      color: @color-white;
      font-family: @font-family-serif;
      font-size: 1.4;
      font-weight: normal;
      line-height: 1.4;
      margin: 0 0 15px 0;
      text-transform: none;
    }
  }



}