.member {

  @color-member: darken(@color-white, 20%);

  // call Horizon
  .horizon(@color-background: @color-member);

  .container {
    width: 50%;
  }

  .lead {
    margin: 0;
    width: 100%;
  }

  .contact {
    position: relative;
    top: 50px;

    * {
      text-align: left;
    }

    h2 {
      font-family: @font-family-condensed;
      font-size: 2em;
      font-weight: 400;
      margin: 0;
      text-align: left;
    }

    .lead {
    }
  }

  hr {
    border-top: 1px solid darken(@color-white, 30%);
  }




}