.navbar {
  background: @color-white;
  padding: 20px 0;

  .navbar-brand {
    font-family: @font-family-brand;
    font-size: 38px;
    position: relative;
    top: 2px;
  }

  .hidden-lg {

    .mast {
      font-family: @font-family-brand;
      font-size: 36px;
      font-weight: normal;
      padding-left: 10px;
      position: relative;
      top: -7px;
    }

  }

  .row {

    &.menu {
      margin: 20px 0;
    }
  }

  .nav {

    &.navbar-nav {
      font-size: 14px;
      text-transform: uppercase;
    }

    li {
      font-size: 16px;

      &:hover {

        .dropdown-menu {
          display: block;
          top: 40px;
        }

      }
    }
  }

}

.icon-bar-wrapper {
  padding: 9px;
  .transition(background 300ms ease-in-out);

  &:hover {

    .icon-bar {
      background-color: lighten(@color-black, 30%);
    }
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: lighten(@color-black, 50%);
    border-radius: 1px;
  }

  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}

@media (max-width: @screen-tablet-max) {

  .navbar {
    padding: 20px;
  }

}