.navbar {
  padding: 10px 0;

  .navbar-brand {
    font-family: @font-family-brand;
    font-size: 38px;
    position: relative;
    top: 2px;
  }

  .nav {

    &.navbar-nav {
      font-size: 14px;
      text-transform: uppercase;
    }

    li {

      &:hover {

        .dropdown-menu {
          display: block;
          top: 40px;
        }

      }
    }
  }

}