.navbar {
  background: @color-white;
  border: none;
  .border-radius(0);
  margin: 0;
  padding: 20px 0 40px 0;

  .center {
    margin: 0 auto;
    width: 85%;

    h2 {
      font-family: @font-family-sans-serif;
      font-size: 3.5em;
      font-weight: 300;
      line-height: 1.2;
    }

    p {
      font-size: 24px;
    }
  }

  &.photo {

    .logo a,
    h2,
    p, {
      color: @color-white;
    }

    .icon-bar-wrapper {

      &:hover {

        .icon-bar {
          background-color: fadeout(@color-white, 20%);
        }
      }

      .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        background-color: @color-white;
        border-radius: 1px;
      }

      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
    }

  }

  hr {
    background: darken(@color-white, 10%);
    width: 25%;
  }
}

.icon-bar-wrapper {
  border: 2px solid transparent;
  margin: 0 15px 10px 10px;
  padding: 0;
  .transition(background 300ms ease-in-out);

  &:hover {

    .icon-bar {
      background-color: lighten(@color-black, 30%);
    }
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: lighten(@color-black, 50%);
    border-radius: 1px;

    -webkit-transition: background-color 150ms ease-in-out;
  }

  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}

.logo {
  padding: 20px 0 0 0;
  margin-left: 35px;

  a {
    color: lighten(@color-black, 5%);
  }
}