// Announce
// ----------------------------------------------------------

.announce {
  //variables
  @color-announce: darken(@color-white, 40%);

  // call Horizon
  .horizon(@color-background: @color-announce);

  // ANNOUNCE styles
  clear: both;
  margin: 0;
  padding: 0;

  // button styles

  .btn-large {
    .btn-bordered(@color-border: @color-white);
    margin: 160px auto;
    padding: 15px 0;
    width: 75%;

    h3 {
      font-family: @font-family-condensed;
      font-size: 2em;
      font-weight: normal;
      margin-bottom: 0;
    }

    p {
      color: @color-white;
      font-family: @font-family-serif;
      font-size: 1.4;
      font-weight: normal;
      line-height: 1.4;
      margin: 0 0 15px 0;
      text-transform: none;
    }
  }

  [class*="announce-"] {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 50%;
  }



}