
.carousel {

  .item {

    .row {
      height: 600px;
    }

    img {
      height: 100%;
    }
  }
}

@media (max-width: 1200px) {

  .carousel {

    .item {

      img {
        width: 1200px !important;
      }
    }
  }
}

@media (max-width: 1500px) {

  .carousel {

    .item {

      img {
        width: 1500px !important;
      }
    }
  }
}

@media (max-width: 1700px) {

  .carousel {

    .item {

      img {
        width: 1700px !important;
      }
    }
  }
}

@media (max-width: 2000px) {

  .carousel {

    .item {

      img {
        width: 2000px !important;
      }
    }
  }
}

@media (max-width: 979px) { // tablets and below

  .carousel {

    .item {

      img {
        width: 979px !important;
      }
    }
  }
}

@media (max-width: 640px) { // iphone 5 landscape

  .carousel {

    .item {

      img {
        width: 640px !important;
        height: 338px !important;
      }
    }
  }
}

@media (max-width: 480px) { // iphone

  .carousel {

    .item {

      img {
        width: 480px !important;
        height: 248px !important;
      }
    }
  }
}

@media (max-width: 320px) { // iphone portrait

  .carousel {

    .item {

      img {
        width: 320px !important;
        height: 158px !important;
      }
    }
  }
}