
.layout-home {

  .navbar {
    background: url('../img/home-texture.jpg');

    .logo {

      a {
        color: @color-white;
      }
    }

    p {
      color: @color-white;
    }
  }

  .icon-bar-wrapper {

    &:hover {

      .icon-bar {
        background-color: fadeout(@color-white, 20%);
      }
    }

    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      background-color: @color-white;
      border-radius: 1px;
    }

    .icon-bar + .icon-bar {
      margin-top: 4px;
    }
  }

}



