// RESPONSIVE DESIGN
// =================

// Tablets & Below

@media (max-width: 979px) {

.alerts {
  left: 0;
  position: absolute;
  right: 0;
  top: 75px;
  z-index: 3;
}


}

// Tablet Portrait & Below

@media (max-width: 767px) {



}

// iPhone 4/4S (Wide)

@media (max-width: 480px) {

  .alerts {

    .alert {

      .modalLiveLink {
        display: none;
      }

      .mobileLink {
        display: inline;
      }
    }
  }
}

