.component-images {
	
	img {
		width: 100%;
	}

  .full-bleed {
		position: absolute;
		left: 0;
		margin-bottom: 500px;
		top: 73px;
		width: 100%;
		
		img {
			width: 100%;
			height: 500px;
		}
  }
	
	.padder {
		height: 475px;
		position: relative;
	}

}